.comprehensive-section {
  font-family: 'Open Sans', sans-serif;
  background-color: #f9faff;
}

.comprehensive-section .section-title {
  font-family: 'Open Sans', sans-serif;
  font-size: 40px;
  font-weight: 400;
  color: #000080;
  line-height: 40px;
}

.comprehensive-section .be-prepared-title{
  font-family: 'Open Sans', sans-serif;
  line-height: 28px;
  font-weight: 600;
  letter-spacing: normal;
  color: #000080;
}

.comprehensive-section .section-subtitle {
  color: #343a40;
  font-size: 1.05rem;
}

.resource-img {
  max-width: 90%;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

.features-list li {
  font-size: 1rem;
  margin-bottom: 18px;
  display: flex;
  align-items: center;
  color: #343a40;
}

.features-list li .text-primary{
  color: #000080 !important;
}